<main class="direction d-flex justify-content-center align-items-center px-2">

    <form [formGroup]="userFormGroup" (ngSubmit)="changePassword(userFormGroup)"
        class="col-12 col-lg-10 px-1 px-sm-3 py-sm-5 mx-auto d-flex flex-wrap login  direction">
        <div class="d-flex  col-12 flex-wrap p-2">
            <!-- ************************** Old Password ********************************************************************** -->
            <div class="col-12 col-md-4 p-2">
                <input formControlName="oldpassword" autocomplete="oldpassword" type="text" class="form-control fs-5"
                    placeholder="{{'OldPassword' | translate }}"
                    [ngClass]="{'is-valid': oldpassword?.valid === true && oldpassword?.touched === true , 'is-invalid': oldpassword?.valid === false && oldpassword?.touched === true || this.userInfo.password !== oldpassword?.value && oldpassword?.valid === true   }">
                <p *ngIf="oldpassword?.touched === true && oldpassword?.errors !== null && oldpassword?.valid === false   "
                    class="text-danger fs-6 p-2">{{"Passwordrequired" | translate}} </p>
                <p *ngIf="this.userInfo.password !== oldpassword?.value && oldpassword?.valid === true "
                    class="text-danger fs-6 p-2 ">{{"OldPasswordWrong" | translate}}</p>
            </div>
            <!-- ************************************************************************************************ -->



            <!-- ************************** Password ********************************************************************** -->
            <div class="col-12 col-md-4 p-2">
                <input formControlName="newpassword" autocomplete="newpassword" placeholder="{{'NewPassword' | translate }}"  type="password" class="form-control fs-5" minlength="8"
                    maxlength="16" required  name="newpassword"
                    id="newpassword"
                    [ngClass]="{'is-valid': newpassword?.valid === true && newpassword?.touched === true , 'is-invalid': newpassword?.valid === false && newpassword?.touched === true }">
                <div *ngIf="newpassword?.touched === true && newpassword?.errors !== null " class="text-danger fs-6 py-2">
                    {{"PasswordrequiredRE" | translate }}</div>
            </div>
            <!-- ************************************************************************************************ -->


            <!-- ************************************ ConfirmPassword ************************************************************ -->
            <div class="col-12 col-md-4 p-2">
                <input formControlName="confirmPassword" autocomplete="confirmPassword" type="password" minlength="8" maxlength="16"
                    class="form-control fs-5" placeholder="{{'confirmPassword' | translate }}" required
                    name="confirmPassword" id="confirmPassword"
                    [ngClass]="{'is-valid': confirmPassword?.valid === true && confirmPassword?.touched === true && newpassword?.value === confirmPassword?.value , 'is-invalid': newpassword?.value !== confirmPassword?.value  && confirmPassword?.touched === true }">
                <div *ngIf="newpassword?.value !== confirmPassword?.value && confirmPassword?.touched === true "
                    class="text-danger fs-6 py-2">
                    {{"PasswordNotMatch" | translate }}
                </div>
            </div>
            <!-- ************************************************************************************************ -->

        </div>

        <div class=" col-12 p-3 mb-4">

            <button type="submit"
                class="custom-btn btn-12 d-block w-100 mx-auto fs-5"><span>{{"ChangePasswordClick"|translate}}</span><span>{{"ChangePassword"|translate}}</span></button>

        </div>
    </form>

</main>
