<section class="py-5 My">

    <div class="d-flex flex-wrap align-items-center align-content-center">

        <div class="col-12 col-sm-6 text-center">
            <h1> Hi, I'M Ahmed Adel </h1>
            <h2>Front-End Developer</h2>
            <div class="text-center">
                <h3 class="text-white fs-3">PERSONAL INFO</h3>

                <div class="d-flex flex-wrap align-items-center  mt-3 px-1">
                    <p class="col-6  my-2 "> <span>Age : </span> 24 Years Old</p>
                    <p class="col-6  my-2 "> <span>Address : </span> Alexandria </p>
                    <p class="col-6  my-2 "> <span>Skill : </span> Web Developer </p>
                    <p class="col-6 my-2 "> <span>Experience : </span> 2 Year </p>
                </div>

               

            </div>
        </div>

        <div class="col-12 col-sm-6 text-center">
            <img src="/assets/photo/AhmedAdel.webp" class="col-9" alt="" srcset="">
        </div>




    </div>

</section>


<section class="skills pb-4">
    <h4 class="m-0 py-4 text-center"> <span>My</span> skills </h4>

    <div class="d-flex flex-wrap justify-content-center align-items-center">


        <div class="col-6 col-sm-3 col-md-2 p-3">

            <div class="Box text-center p-3">
                <img src="/assets/photo/html.webp" class="mt-2" alt="" srcset="">
                <p class="my-3">HTML 5</p>
            </div>
        </div>


        <div class="col-6 col-sm-3 col-md-2 p-3">

            <div class="Box p-3 text-center">
                <img src="/assets/photo/css.webp" class="mt-2" alt="" srcset="">
                <p class="my-3">CSS 3</p>
            </div>
        </div>


        <div class="col-6 col-sm-3 col-md-2 p-3">

            <div class="Box p-3 text-center">
                <img src="/assets/photo/js.webp" class="mt-2" alt="" srcset="">
                <p class="my-3">js</p>
            </div>
        </div>

        <div class="col-6 col-sm-3 col-md-2 p-3">

            <div class="Box p-3 text-center">
                <img src="/assets/photo/bootstrap.webp" class="mt-2" alt="" srcset="">
                <p class="my-3">Bootstrap</p>
            </div>
        </div>

        <div class="col-6 col-sm-3 col-md-2 p-3">

            <div class="Box p-3 text-center">
                <img src="/assets/photo/jquery.webp" class="mt-2" alt="" srcset="">
                <p class="my-3">Juqery</p>
            </div>
        </div>

        <div class="col-6 col-sm-3 col-md-2 p-3">

            <div class="Box p-3 text-center">
                <img src="/assets/photo/angular.webp" class="mt-2" alt="" srcset="">
                <p class="my-3">Angular</p>
            </div>
        </div>



    </div>


<!-- <div class="bg-danger p-5">
<button class="btn btn-success" (click)="loadTodo()">load</button>
</div> -->

</section>