


<main class="direction d-flex justify-content-center align-items-center py-5 px-2  pt-sm-0">
    <section class="direction">
        
<form [formGroup]="userFormGroup" (ngSubmit)="update(userFormGroup)"
class="col-12 col-lg-10 px-3 mx-auto d-flex flex-wrap login pb-5 direction">

<!-- ****************************** Name ****************************************************************** -->
<div class="col-12 col-md-6 p-2">
    <input required formControlName="name" type="text" placeholder="{{'Name' | translate }}"
        [ngClass]="{'is-valid': name?.valid == true && name?.touched == true , 'is-invalid': name?.valid == false && name?.touched == true}"
        class="form-control fs-5" minlength="3" required name="name" id="name">
    <p *ngIf="name?.touched == true && name?.errors != null " class="text-danger fs-6 p-2 ">{{"Namerequired" |translate}}</p>
</div>
<!-- ************************************************************************************************ -->


<!-- ******************************* Email ***************************************************************** -->
<div class="col-12 col-sm-6 mt-2 mt-sm-0 p-2 ">

    <input type="email" formControlName="email" class="form-control fs-5" required name="email" id="email" placeholder="{{'Email' | translate}}"
        [ngClass]="{'is-valid': email?.valid == true && email?.touched == true , 'is-invalid': email?.valid == false && email?.touched == true}">
    <p *ngIf="email?.touched == true && email?.errors != null " class="text-danger fs-6 p-2 ">{{"Emailrequired" | translate}}</p>
</div>
<!-- ************************************************************************************************ -->


<!-- ******************************* Phone ***************************************************************** -->
<div class="col-12 col-sm-6 mt-2 mt-sm-0 p-2 ">
    <input formControlName="phone" type="text" class="form-control fs-5" minlength="11" maxlength="11" required placeholder="{{'Phone' | translate}}"
        name="phone" id="phone"
        [ngClass]="{'is-valid': phone?.valid == true && phone?.touched == true , 'is-invalid': phone?.valid == false && phone?.touched == true}">
    <p *ngIf="phone?.touched == true && phone?.errors != null " class="text-danger fs-6 p-2">{{"Phonerequired" | translate}}</p>
</div>
<!-- ************************************************************************************************ -->




<!-- ********************************** Age ************************************************************** -->
<div class="col-12 col-sm-6 mt-2 mt-sm-0 p-2 ">
    <input formControlName="age" type="number" class="form-control fs-5" required min="18" minlength="2" maxlength="2" placeholder="{{'Age' | translate}}"
        max="60" name="age" id="age"
        [ngClass]="{'is-valid': age?.valid == true && age?.touched == true , 'is-invalid': age?.valid == false && age?.touched == true}">
    <p *ngIf="age?.touched == true && age?.errors != null " class="text-danger fs-6 p-2">{{"Agerequired"|translate}}</p>
</div>
<!-- ************************************************************************************************ -->



<!-- ***************************** Address ****************************************************************** -->

<div formGroupName="address" class="col-12  d-flex flex-wrap">



    <!-- ********************************** Country ************************************************************** -->
    <div class="col-12 col-sm-4 mt-2 mt-sm-0 p-2 ">
        <input formControlName="country" type="text" class="form-control fs-5" minlength="3" required name="country" placeholder="{{'Country' | translate}}"
            id="country"
            [ngClass]="{'is-valid': country?.valid == true && country?.touched == true , 'is-invalid': country?.valid == false && country?.touched == true}">
        <p *ngIf="country?.touched == true && country?.errors != null " class="text-danger fs-6 p-2"> {{"countryrequired" | translate }}</p>
    </div>
    <!-- ************************************************************************************************ -->


    <!-- ****************************** City ****************************************************************** -->
    <div class="col-12 col-sm-4 mt-2 mt-sm-0 p-2 ">

        <input formControlName="city" type="text" class="form-control fs-5" minlength="3" required name="city" id="city" placeholder="{{'City' | translate}}"
            [ngClass]="{'is-valid': city?.valid == true && city?.touched == true , 'is-invalid': city?.valid == false && city?.touched == true}">
        <p *ngIf="city?.touched == true && city?.errors != null " class="text-danger fs-6 p-2">{{"cityrequired" | translate}}</p>
    </div>
    <!-- ************************************************************************************************ -->


    <!-- ********************************* PostCode *************************************************************** -->
    <div class="col-12 col-sm-4 mt-2 mt-sm-0 p-2 ">
    
        <input formControlName="postCode" type="number" class="form-control fs-5" maxlength="6" minlength="6" required placeholder="{{'PostCode' | translate}}"
            name="postCode" id="postCode"
            [ngClass]="{'is-valid': postCode?.valid == true && postCode?.touched == true , 'is-invalid': postCode?.valid == false && postCode?.touched == true}">
        <p *ngIf="postCode?.touched == true && postCode?.errors != null " class="text-danger fs-6 p-2"> {{"postCoderequired"| translate}}</p>
    </div>
    <!-- ************************************************************************************************ -->



</div>




<div class="col-12 my-4 text-center">

    <button type="submit"class="custom-btn btn-12 d-block w-100 mx-auto fs-5"><span>{{"UpdateClick"|translate}}</span><span>{{"UpdateProfile"|translate}}</span></button>
</div>
</form>

    </section>
</main>


