
<header id="headerX" class="headerX direction">



    <!-- *************** lOGO **************************** -->
    <a  class="logo  p-0">
      <img src="assets/photo/logo.webp" class="col-12 p-2 rounded-circle" width="85" height="85" alt="">
    </a>
     <!-- ******************************************* -->

<!-- ************** NAVBAR ***************************** -->
    <nav id="navbarX" class="navbarX direction mx-auto">
       <a  (click)="closeMenu()" *ngIf="isLogin" routerLink="home" routerLinkActive="active">{{"Home"|translate}}</a>
       <a (click)="closeMenu()" *ngIf="isLogin" routerLink="invoice" routerLinkActive="active">{{"Invoice"|translate}}</a>
       <a (click)="closeMenu()" *ngIf="isLogin" routerLink='cinema' routerLinkActive="active"  >{{"Cinema"|translate}}</a>
       <a (click)="closeMenu()" *ngIf="isLogin" routerLink="shop" routerLinkActive="active">{{"Shop"|translate}}</a>
       <a (click)="closeMenu()" *ngIf="isLogin" routerLink="about" routerLinkActive="active">{{"About"|translate}}</a>
       <a (click)="closeMenu()" *ngIf="isLogin" routerLink="settings" routerLinkActive="active">{{"Settings"|translate}}</a>
       <a (click)="closeMenu()" *ngIf="!isLogin" routerLink="login"  routerLinkActive="active">{{"Login"|translate}}</a>
       <a (click)="closeMenu()" *ngIf="isLogin" (click)="logout()"  class="text-danger logout">{{"Logout"|translate}}</a>
       <a (click)="closeMenu()" *ngIf="!isLogin" routerLink="register" routerLinkActive="active">{{"Register"|translate}}</a>
    </nav>
    <!-- ******************************************* -->
 

    <!-- ************** MENU ***************************** -->

      <div class="d-flex align-items-center">
                        <a (click)="ChangeLang()" id="Langue" class="Langue me-4 p-3">AR</a>
                       <span  (click)="menuBar()" id="menu-btn" class="fas fa-bars"></span>
      </div>
    <!-- ******************************************* -->

</header>
