/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.headerX {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding: 0px 1rem;
  
}


.logout {
    cursor: pointer;
}



.headerX a {
    font-size: 1.4rem;
    color: #0AD5C1;
    display: inline-block;
}

.headerX .Langue {
    cursor: pointer;
}

.headerX .navbarX a {
    color: #fff;
    margin: 0 1rem;


}

.headerX #menu-btn {
    display: none;
}


.active {
    color: #0AD5C1 !important;

}

.ProgressBar {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    z-index: 99999;
}

@media (max-width: 991px) {


    .headerX {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }


    .headerX #menu-btn {
        display: inline-block;
        color: white;
        font-size: 2.3rem;
        cursor: pointer;
    }

    .headerX .navbarX {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        -webkit-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }

    .headerX .navbarX.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
        -webkit-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;

        padding: 0px 2.5%;
    }

    .headerX .navbarX a {
        display: block;
        padding: 0.5rem;
        margin: 1rem 0;
    }

    .fa-times {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }

    .fa-bars {
        -webkit-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;

    }

}