<main class="direction pt-5">
  <section class="pt-lg-4 px-2">
    <div class="d-flex align-items-center flex-wrap px-2">
      <!-- ******************* اختيار نوع العملية ******************************** -->
      <div class="col-12 col-sm-6 col-md-3 p-2">
        <select
          [(ngModel)]="pageData.action"
          class="form-select text-center"
          name=""
        >
          <option value="0" selected disabled class="text-center">
            -- {{ "ChooseAction" | translate }} --
          </option>
          <option value="1">{{ "Transformation" | translate }}</option>
          <option value="2">{{ "purchases" | translate }}</option>
          <option value="3">{{ "bounce" | translate }}</option>
        </select>
      </div>
      <!-- *************************************************** -->

      <!-- ****************  اختيار اسم العميل *********************************** -->
      <div class="col-12 col-sm-6 col-md-3 p-2">
        <select [(ngModel)]="pageData.client" class="form-select text-center">
          <option value="0" selected disabled class="text-center">
            -- {{ "clientName" | translate }} --
          </option>
          <option value="1">{{ "AhmedAdel" | translate }}</option>
          <option value="2">{{ "MohamedTaher" | translate }}</option>
          <option value="3">{{ "MohamedRamdan" | translate }}</option>
        </select>
      </div>
      <!-- *************************************************** -->

      <!-- ******************** اختيار اسم المخزن ******************************* -->
      <div class="col-12 col-sm-6 col-md-3 p-2">
        <select [(ngModel)]="pageData.branch" class="form-select text-center">
          <option value="0" disabled selected class="text-center">
            -- {{ "Store" | translate }} --
          </option>
          <option value="1">{{ "Main" | translate }}</option>
          <option value="2">{{ "branch" | translate }}</option>
        </select>
      </div>
      <!-- *************************************************** -->

      <!-- ******************* التاريخ ******************************** -->

      <div class="col-12 col-sm-6 col-md-3 p-2">
        <mat-form-field class="col-12 p-0 m-0 text-center">
          <input
            matInput
            [matDatepicker]="picker3"
            class="fs-5"
            [(ngModel)]="pageData.date"
            [min]="minDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker3"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- *************************************************** -->

      <!-- ***************** زرار اتمام البيع ********************************** -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3 px-2 text-center">
        <button
          class="SaveInvoice col-12 text-center mx-auto"
          (click)="print()"
        >
          {{ "SaveInvoice" | translate }}
        </button>
      </div>
      <!-- *************************************************** -->

      <!-- ******************اجمالي الفاتوة كلها ********************************* -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3 px-2 text-center">
        <input
          type="text"
          class="col-12 text-center fs-5 mx-auto"
          disabled
          [value]="totalInvoice()"
          placeholder="{{ 'TotalInvoice' | translate }}"
          name="totalInvoice"
          id=""
        />
      </div>
      <!-- *************************************************** -->

      <!-- ***************** زرار فتح المصاريف  ********************************** -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3 px-2 text-center">
        <button
          class="SaveInvoice bg-info col-12 text-center mx-auto"
          (click)="open_Modal_Expenses()"
        >
          {{ "addExpenses" | translate }}
        </button>
      </div>
      <!-- *************************************************** -->

      <!-- ***************** اجمالي فتح المصاريف  ********************************** -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3 px-2 text-center">
        <input
          type="number"
          [value]="resultExpenses"
          disabled
          placeholder="{{ 'TotalExpenses' | translate }}"
          class="form-control text-center fs-5"
          name=""
          id=""
        />
      </div>
      <!-- *************************************************** -->
    </div>

    <div class="table-responsive mt-4 directory">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="">#</th>
            <th class="col-2">{{ "Name" | translate }}</th>
            <th class="">{{ "Amount" | translate }}</th>
            <th class="">{{ "Price" | translate }}</th>
            <th class="">{{ "Discount" | translate }}</th>
            <th class="">{{ "AmountDiscount" | translate }}</th>
            <th class="">{{ "Total" | translate }}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let dynamic of invoiceArray; let i = index">
            <td>
              <!-- ****************** زرار الحذف والاضافة في table ********************************* -->
              <div class="d-flex justify-content-center">
                <button
                  (click)="addRow()"
                  class="btn mx-2 btn-success text-center col-5 ms-2 pt-2"
                >
                  <i
                    class="fa fas fa-regular text-center fa-circle-plus fs-4"
                  ></i>
                </button>
                <button
                  [disabled]="invoiceArray.length === 1"
                  (click)="deleteRow(i)"
                  class="btn btn-danger text-center col-5 mx-2 pt-2"
                >
                  <i class="fa fa-trash text-center fa-2x fs-4"></i>
                </button>
              </div>
            </td>
            <!-- *************************************************** -->

            <!-- *******************اختيار اسم المنتج******************************** -->
            <td>
              <select
                [(ngModel)]="invoiceArray[i].name"
                name="Product Item"
                class="form-select text-center itemSelect"
              >
                <option selected disabled value="0">
                  -- {{ "ChooseDevice" | translate }} --
                </option>
                <option value="1">Mobile</option>
                <option value="2">TV</option>
                <option value="3">Tablet</option>
              </select>
            </td>
            <!-- *************************************************** -->

            <!-- ********************* كمية المنتج ****************************** -->
            <td>
              <input
                type="number"
                name="Amount"
                [(ngModel)]="invoiceArray[i].amount"
                placeholder="{{ 'Amount' | translate }}"
                class="form-control text-center amount"
              />
            </td>

            <!-- *************************************************** -->

            <!-- ******************* السعر ******************************** -->
            <td>
              <input
                type="number"
                name="Price"
                [(ngModel)]="invoiceArray[i].price"
                placeholder="{{ 'Price' | translate }}"
                class="form-control text-center"
              />
            </td>
            <!-- *************************************************** -->

            <!-- ******************* ألخصم ******************************** -->
            <td>
              <input
                type="number"
                name="Price"
                [(ngModel)]="invoiceArray[i].discount"
                placeholder="{{ 'Discount' | translate }}"
                (keyup)="maxVal(i)"
                class="form-control text-center"
                max="100"
              />
            </td>
            <!-- *************************************************** -->

            <!-- ******************* قيمة الخصم  ******************************** -->
            <td>
              <input
                type="number"
                name="Price"
                [value]="discountVal(i)"
                placeholder="{{ 'AmountDiscount' | translate }}"
                (change)="maxVal($event)"
                class="form-control text-center"
                disabled
              />
            </td>
            <!-- *************************************************** -->

            <!-- ****************** اجمالي كل منتج ********************************* -->
            <td>
              <input
                disabled
                [value]="totalRow(i)"
                placeholder="{{ 'TotalPriceItem' | translate }}"
                name="total"
                class="form-control text-center"
                type="number"
              />
            </td>

            <!-- *************************************************** -->
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <div class="modal fade" id="Modal_Expenses" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <h5 class="modal-title">{{ "Expenses" | translate }}</h5>
          <button
            type="button"
            class="btn-close mx-2"
            aria-label="Close"
            (click)="close_Modal_Expenses()"
          ></button>
        </div>

        <div class="modal-body">
          <div
            class="d-flex flex-wrap"
            *ngFor="let item of expensesArray; let i = index"
          >
            <div
              class="col-sm-2 p-1 d-flex align-items-center justify-content-center"
              style="flex-wrap: nowrap"
            >
              <button (click)="add_expensesRow()" class="btn btn-success mx-1">
                +
              </button>
              <button
                [disabled]="expensesArray.length === 1"
                (click)="remove_expensesRow(i)"
                class="btn btn-danger mx-1"
              >
                -
              </button>
            </div>

            <div class="col-12 col-sm-5 p-1 my-1">
              <select
                [(ngModel)]="expensesArray[i].ExpName"
                name=""
                class="form-select text-center"
                id=""
              >
                <option value="0" selected disabled>
                  -- {{ "ChooseExpenses" | translate }} --
                </option>
                <option value="1">{{ "operatingexpenses" | translate }}</option>
                <option value="2">{{ "Bankexpenses" | translate }}</option>
                <option value="3">{{ "Shippingexpenses" | translate }}</option>
              </select>
            </div>

            <div class="col-12 col-sm-5 p-1 my-1">
              <input
                (keyup)="val($event)"
                type="number"
                [(ngModel)]="expensesArray[i].expenses"
                class="form-control text-center"
                placeholder="{{ 'ExpensesVal' | translate }}"
                name=""
                id=""
              />
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button
            (click)="saveExpenses()"
            class="btn btn-success col-5 col-md-3 col-lg-2"
          >
            {{ "Save" | translate }}
          </button>
          <button
            class="btn btn-primary col-5 col-md-3 col-lg-2"
            (click)="close_Modal_Expenses()"
          >
            {{ "Close" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
