
<main class="direction">


      
      
    <section class="direction pb-5 d-flex flex-wrap align-content-end">

        <div class="text-center mb-lg-5 pb-lg-5 col-12 col-sm-6 ">
  
            <button class=" mx-auto col-10 col-md-9 col-lg-6" (click)="addInvoice()"> 
                <i class="fa-solid fa-file-invoice-dollar d-block mb-4 text-white"></i>
               
                {{"AddInvoice" | translate }}   </button>
        </div>

        <div class="text-center mt-5 mt-sm-0 mb-lg-5 pb-lg-5  col-12 col-sm-6   ">
            
            <button class="  mx-auto col-10 col-md-9 col-lg-6" (click)="allInvoice()">
              
                <i class="fa-solid fa-copy d-block mb-4 text-white"></i>
                {{"ShowAllInvoice" | translate }}
               
            </button>
        </div>
        



    </section>


    
</main>




