<main class="m-0 p-0">


    <section class="m-0 p-0">


        <div class="Welcome  text-center px-3">
      
         <h1 class="col-12 col-md-8 col-lg-6 mx-auto m-0" id="textOne"></h1>
         <h2 class="col-12 mt-4" id="textTwo"></h2>
    
        </div>

        <div id="intro" class="w-100 m-0 p-0">
            <video autoplay [autoplay]="true" [muted]="true"  [loop]="false" muted  class="m-0 w-100">
                <source class="m-0 p-0" src="/assets/video/intro.webm" type="video/webm">
                <!-- <source class="m-0 p-0" src="/assets/video/intro.mp4" type="video/mp4"> -->
            </video>
        </div>

        <div id="intro-loop">
            <video autoplay [autoplay]="true" [loop]="true" [muted]="true" muted loop  class="m-0 w-100">
                <source autoplay class="m-0 p-0" src="/assets/video/loop.webm" type="video/webm">
                <!-- <source autoplay  class="m-0 p-0" src="/assets/video/loop.mp4" type="video/mp4"> -->
            </video>
        </div>

    </section>

</main>