<!-- placeholder="{{action}} Name" -->

<!-- dialog-box.component.html -->


<div class="DIALOG ">

  <p class="col-12 text-center fs-4" mat-dialog-title>{{"RowAction" | translate}} : <strong>{{movement}}</strong> </p>

  <div mat-dialog-content>

    <div *ngIf="movement !== 'Delete'  ; else elseTemplate">

      <mat-form-field class="col-12 col-sm-6 px-2 text-center">
        <input class="form-control fs-5" placeholder="{{'Salary' | translate}}" type="number" matInput
          [(ngModel)]="local_data.salary">
      </mat-form-field>

      <mat-form-field class="col-12 col-sm-6 px-2 text-center">
        <input class="form-control fs-5" placeholder="{{'Name' | translate}}" matInput [(ngModel)]="local_data.name">
      </mat-form-field>

    </div>

    <ng-template #elseTemplate>
      <div class="col-12 fs-5 text-center p-3">
        {{"Suretodelete" | translate}} <strong>{{local_data.name}}</strong>
      </div>
    </ng-template>

  </div>

  <div mat-dialog-actions class="text-center p-0 col-12 d-flex justify-content-between">
    <button mat-button [ngClass]="{'btn-danger': movement === 'Delete' }"
      class="btn btn-success fs-5 my-md-3 col-12 col-sm-5" (click)="doAction()">{{movement}}</button>
    <button mat-button class="btn btn-info text-white fs-5 my-3 mx-0  col-12 col-sm-5 " (click)="closeDialog()"
      mat-flat-button color="">{{"Cancel" | translate}}</button>
  </div>

</div>
