

<footer >

    <section class="col-11 col-md-8 col-lg-6 d-flex flex-wrap mx-auto  py-3 text-center" style="justify-content: space-evenly">
  
   <!-- Facebook -->
      <a target="_blank" class="text-light fs-2 d-block col-1 p-1 p-md-2" href="https://www.facebook.com/profile.php?id=100009898380220"><i class="fab fa-facebook-f"></i></a>
           <!-- codepen -->   
      <a target="_blank" class="text-light fs-2 d-block col-1 p-1 p-md-2 " href="https://codepen.io/ahmed-kazanova"> <i class="fa-brands fa-codepen"></i></a>
    <!-- Google -->
    <a target="_blank" class="text-light fs-2 d-block col-1 p-1 p-md-2 " 
    href="https://mail.google.com/mail/?view=cm&fs=1&to=ahmedzkazzanova@gmail.com&su=jop&body=Hi Ahmed">
    
    
    <i class="fab fa-google"></i> </a>
   <!-- Instagram -->
   <a target="_blank" class="text-light fs-2 d-block col-1 p-1 p-md-2 " href="https://www.instagram.com/ahmedadel__97/?fbclid=IwAR2kkEJuOLMJ1iXIq32z8oMOI-0xnFk-SYNi3Glg1_6q-Qrz6McnlZF7Yvs"> <i class="fab fa-instagram"></i> </a>
    <!-- Github -->
    <a target="_blank" class="text-light fs-2 d-block col-1 p-1 p-md-2 " href="https://github.com/AhmedKazanova"> <i class="fab fa-github"></i> </a>
   <!-- Linkedin -->
    <a target="_blank" class="text-light fs-2 d-block col-1 p-1 p-md-2 " href="https://www.linkedin.com/in/ahmed-adel-329332215/">  <i class="fab fa-linkedin"></i> </a>
      <!-- Whatsapp -->
      <a target="_blank" class="text-light fs-2 d-block col-1 p-1 p-md-2 " href="https://wa.me/0201032882094?text=" >  <i class="fa-brands fa-whatsapp"></i> </a>
        <!-- Phone -->
        <a target="_blank" class="text-light fs-2 d-block col-1 p-1 p-md-2 " href="tel:00201032882094" >  <i class="fa-solid fa-phone"></i> </a>
   
    </section>
  
    <section class="text-center text-white px-3 py-1" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright : <span class="text-white" > Ahmed Adel </span>
    </section>
  
  </footer>
  
  

  
  
  
  
  
  