<main class="direction  pt-5  pt-sm-3 MainInvoice">


    <div *ngIf="allInvoice.length <= 0 " class="alert alert-danger col-8 mx-auto ">
        <p class="fs-1 py-4 text-center">Not Found Data</p>
    </div>

    <section id="TableShowDetails" *ngIf="allInvoice.length > 0 " class="pt-lg-4 px-2">

        <div class="d-flex flex-wrap align-items-center px-2">

            <div class="col-12 col-sm-6 col-md-3 p-2">
                <select [(ngModel)]="invoiceObj.action" class=" form-select text-center" name="">
                    <option value="0" selected disabled class="text-center">-- {{"ChooseAction" | translate}} --
                    </option>
                    <option value="1"> {{"Transformation" | translate}} </option>
                    <option value="2"> {{"purchases" | translate}} </option>
                    <option value="3">{{"bounce" | translate}}</option>
                </select>
            </div>

            <div class="col-12 col-sm-6 col-md-3 p-2">

                <select [(ngModel)]="invoiceObj.client" class="form-select text-center">

                    <option value="0" selected disabled class="text-center"> -- {{"clientName" | translate}} --
                    </option>
                    <option value="1">{{"AhmedAdel" | translate}}</option>
                    <option value="2">{{"MohamedTaher" | translate}}</option>
                    <option value="3">{{"MohamedRamdan"|translate}}</option>
                </select>
            </div>

            <div class="col-12 col-sm-6 col-md-3 p-2">

                <select [(ngModel)]="invoiceObj.branch" class="form-select text-center">

                    <option value="0" disabled selected class="text-center"> -- {{"Store" | translate}} --</option>
                    <option value="1">{{"Main"|translate}}</option>
                    <option value="2">{{"branch" | translate}} </option>
                </select>
            </div>

            <div class="col-12 col-sm-6 col-md-3 p-2 m-0">

                <mat-form-field class="col-12 p-0 m-0 mt-2 text-center">
                    <input matInput [disabled]="true" class="m-0 " [matDatepicker]="picker3"
                        [(ngModel)]="invoiceObj.date">
                    <mat-datepicker class="m-0 p-0" #picker3></mat-datepicker>
                </mat-form-field>


            </div>


            <div class="col-12 d-flex flex-wrap align-items-end BTNS ">

                <div class="col-12 px-2 col-md-6 col-lg-3 mt-3 mx-auto text-center">
                    <button class="btn btn-danger text-center col-12  mx-auto" (click)="goback()">{{"Back" |translate
                        }}</button>
                </div>
                <!-- *************************************** -->



                <div class="col-12 px-2 col-md-6 col-lg-3 mt-3 mx-auto text-center">
                    <button class="btn btn-primary text-center col-12  mx-auto"
                        (click)="updateinvoice()">{{"UpdateInvoice" | translate }}</button>
                </div>

                <!-- *************** Print ************************ -->

                <div class="col-12 px-2 col-md-6 col-lg-3 mt-3 mx-auto text-center">
                    <button class="btn btn-success text-center col-12 mx-auto" (click)="print()">{{"Print" | translate
                        }}</button>
                </div>
                <!-- *************************************** -->



                <div class="col-12 px-2 col-md-6 col-lg-3 mt-3 mx-auto text-center">

                    <input type="text" class="form-control  text-center mx-auto" disabled [value]="totalInvoice()"
                        placeholder="{{ 'TotalInvoice' | translate}}" name="totalInvoice" id="">
                </div>



            </div>



        </div>


        <div class="table-responsive mt-4 directory">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="col-3">{{"Name"|translate}}</th>
                        <th class="col-3">{{"Amount" | translate}}</th>
                        <th class="col-3">{{"Price" | translate}}</th>
                        <th class="col-3">{{"Total"|translate}}</th>
                    </tr>
                </thead>

                <tbody *ngIf="dataRow.length > 0">
                    <tr *ngFor="let dynamic of dataRow; let i = index;">

                        <td>
                            <div class="d-flex justify-content-center ">
                                <button (click)="addRow()" class="btn mx-2 btn-success text-center col-5  ms-2  pt-2">
                                    <i class="fa fas fa-regular text-center  fa-circle-plus fs-4 "></i>
                                </button>
                                <button [disabled]="dataRow.length == 1" (click)="deleteRow(i)"
                                    class="btn btn-danger  text-center col-5 mx-2 pt-2">
                                    <i class="fa fa-trash text-center  fa-2x  fs-4"></i>
                                </button>
                            </div>
                        </td>

                        <td>
                            <select [(ngModel)]="dataRow[i].name" name="Product Item"
                                class="form-select text-center itemSelect">
                                <option selected disabled value="0">-- {{"ChooseDevice" | translate }} --</option>
                                <option value="1">Mobile</option>
                                <option value="2">TV</option>
                                <option value="3">Tablet</option>
                            </select>
                        </td>
                        <td>
                            <input type="number" name="Amount" [(ngModel)]="dataRow[i].amount" placeholder="Amount"
                                class="form-control text-center amount">
                        </td>
                        <td>
                            <input type="number" name="Price" [(ngModel)]="dataRow[i].price" placeholder="Price"
                                class="form-control text-center">
                        </td>
                        <td>
                            <input disabled [(ngModel)]="dataRow[i].price * dataRow[i].amount "
                                placeholder="Total Price Item" name="total" class="form-control text-center"
                                type="number" />
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="this.dataRow.length <= 0">
                    <tr>
                        <td colspan="12">
                            <div class="alert alert-danger text-dark">Data Not Found</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>





    <section id="SectionInvoice" class="invoice px-2">


        <div id="Invoice" #Invoice class="table-responsive py-2  px-3">

            <div class="d-flex align-items-start my-4 px-1">

                <div class="col-4 p-0">

                    <div class="d-flex align-items-center mb-3  p-3  info">

                        <p class="col-5 m-0 fs-3">{{"client" | translate}} :</p>
                        <select [disabled]="true" [(ngModel)]="invoiceObj.client"
                            class="fs-5 bg-transparent text-dark p-0">
                            <option value="1">{{"AhmedAdel" | translate}}</option>
                            <option value="2">{{"MohamedTaher" | translate}}</option>
                            <option value="3">{{"MohamedRamdan"|translate}}</option>
                        </select>
                    </div>



                    <div class="d-flex align-items-center mb-3  p-3  info">


                        <p class="col-5 m-0 fs-3"> {{"Store" | translate}} :</p>

                        <select [disabled]="true" [(ngModel)]="invoiceObj.branch"
                            class="fs-5 bg-transparent text-dark p-0">
                            <option value="1">{{"Main"|translate}}</option>
                            <option value="2">{{"branch" | translate}} </option>
                        </select>

                    </div>

                    <div class="d-flex align-items-center mb-3  p-3  info">

                        <p class="col-5 m-0 fs-3">{{"Action" | translate}} :</p>
                        <select [disabled]="true" [(ngModel)]="invoiceObj.action"
                            class="fs-5 bg-transparent text-dark p-0" name="">
                            <option value="1"> {{"Transformation" | translate}} </option>
                            <option value="2"> {{"purchases" | translate}} </option>
                            <option value="3">{{"bounce" | translate}}</option>
                        </select>



                    </div>








                </div>

                <div class="col-4 px-3 text-center d-flex align-items-center justify-content-center flex-wrap">

                    <div class="d-flex justify-content-center align-items-center mb-3  p-3  info col-12 ">
                        <p class="col-6 m-0 fs-3"> {{"invoiceNum" | translate}} : </p>
                        <p class="m-0 col-7 fs-4">{{invoiceObj.id}}</p>
                    </div>

                    <div class="d-flex align-items-center justify-content-center col-12 mb-3  p-3  info ">
                        <p class="col-5 m-0 fs-3"> {{"Date" | translate}} : </p>

                        <span class="col-8 fs-4">{{invoiceObj.date | date:'dd-MM-yyyy'}} </span>

                    </div>


                </div>

                <div class="logoInvoice col-4 p-0 text-center">
                    <img src="assets/photo/logo.webp" class="col-5" alt="" srcset="">
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th class="col-3">{{"Name"|translate}}</th>
                        <th class="col-3">{{"Amount" | translate}}</th>
                        <th class="col-3">{{"Price" | translate}}</th>
                        <th class="col-3">{{"Total"|translate}}</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow.length > 0">
                    <tr *ngFor="let dynamic of dataRow; let i = index;">



                        <td>
                            <select [(ngModel)]="dataRow[i].name" [disabled]="true" name="Product Item"
                                class="form-control text-center itemSelect">
                                <option selected [disabled]="true" value="0">-- {{"ChooseDevice" | translate }} --
                                </option>
                                <option value="1">Mobile</option>
                                <option value="2">TV</option>
                                <option value="3">Tablet</option>
                            </select>
                        </td>
                        <td>
                            <input type="number" name="Amount" [disabled]="true" [(ngModel)]="dataRow[i].amount"
                                placeholder="Amount" class="form-control text-center amount">
                        </td>
                        <td>
                            <input type="number" name="Price" [disabled]="true" [(ngModel)]="dataRow[i].price"
                                placeholder="Price" class="form-control text-center">
                        </td>
                        <td>
                            <input [disabled]="true" [(ngModel)]="dataRow[i].price * dataRow[i].amount "
                                placeholder="Total Price Item" name="total" class="form-control text-center"
                                type="number" />
                        </td>
                    </tr>
                </tbody>
            </table>
<div class="d-flex align-items-center"> 
    <div class="mt-4 px-3 d-flex pb-3 pt-4 col-6  totlinvo info">
        <p class="fs-3"> {{"TotalInvoice" | translate}} : </p>
        <p class="fs-3 mx-3"> {{totalInvoice()}} </p>
    </div>
    <div class="col-6 text-center">
        
        <img src="assets/photo/signature.png" class="col-5" alt="" srcset="">
    </div>

</div>
        </div>

    </section>

</main>